* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
  margin-left:auto; 
  margin-right:auto;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}